<header id="top-header">
  <div id="logo">
    <a href= "/">
      <img src="logonuevo.png" alt="Chroma Interiores" >
    </a>
  </div>

  <nav id="primary-nav">
    <ul id="menu">
      <li id="itemB">
        <a href="/nuevo/arquitectura">
          ARQUITECTURA
        </a>
        <ul>
          <li id="item1">
            <a href="/nuevo/obras">
              OBRAS
            </a>
          </li>
          <li id="item2">
            <a href="/proyectos/">
              PROYECTOS
            </a>
          </li>
        </ul>
      </li>
      <li id="itemB">
        <a href="/">
          INTERIORISMO
        </a>
        <ul>
          <li id="item1">
            <a href="/nuevo/obras">
              OBRAS
            </a>
          </li>
          <li id="item2">
            <a href="/proyectos/">
              PROYECTOS
            </a>
          </li>
        </ul>
      </li>
      <li id="item3">
        <a href="/nuevo/contacto">
          CONTACTO
        </a>
      </li>
      <li id="item4">
        <a href="https://es-es.facebook.com/chromainteriores">
          <img
            class="topMenuImage"
            src="f-logo-retina.png"
            alt="facebook"
            onmouseover="this.src='f-logo-retina-over.png'"
            onmouseout="this.src='f-logo-retina.png'"
          />
        </a>
      </li>
    </ul>
  </nav>
</header>
